var reviewContainer = document.querySelector('.review-container')

var el = document.createElement('div')
var reviewContent = `<section class="review">
    星數：<%= "★" * @review.rating %><%= "☆" * (5 - @review.rating) %>
    <header><%= @review.title %></header>
    <article>
      <%= @review.content %>
    </article>
  </section>
`
el.innerHTML = reviewContent

reviewContainer.insertAdjacentElement("afterbegin", el)